NEXT_PUBLIC_SUPABASE_URL=https://kzikyufuyanfjlddyepo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_x3cN6oW-wcZhmiaqSknObw_Ywn8Mdwd
NEXT_PUBLIC_SITE_URL=https://yaqoob-enterprises.vercel.app
