# Application URL (e.g. https://yaqoob-enterprises.vercel.app)
NEXT_PUBLIC_SITE_URL=

# Supabase Project Credentials
NEXT_PUBLIC_SUPABASE_URL=https://kzikyufuyanfjlddyepo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_x3cN6oW-wcZhmiaqSknObw_Ywn8Mdwd

# Optional Build / Asset Scripts
STITCH_API_KEY=
